.columnContainer {
  border-radius: 5px;
  padding: 10px;
  margin: 15px 5px;
  width: 33vw;
  min-height: 85vh;
}
.titleColumn {
  font-family: 'Montserrat Alternates';
  width: 100%;
  padding: 10px 0px 20px;
  margin-bottom: 5px;
  font-size: 18px;
  text-align: center;
  border-bottom: 2px solid white;
}